.secondSection {
  height: 613px;
  padding-left: 8vw;
  padding-right: 4vw;
}

.textSecondSection {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 8vh;
}

.blockNameSecond {
  margin-top: 13vh;
}

.buttonSecond {
  margin: 5vh 41 0 80%;
}
