.secondSection {
  height: 613px;
  padding-left: 8vw;
  padding-right: 4vw;
}
.blockName {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 13vh;
}

.textSecondSection {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 3vh;
}

.button {
  margin: 5vh 41 0 85%;
}
