.fourSection {
  width: 100%;
  padding-left: 121px;
}

.blockNameFour {
  justify-content: center;
}

.contentFour {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.email {
  margin-top: 117px;
}

.phone {
  margin-top: 67px;
}

.iconsFour {
  margin: 69px 0;
}

.iconsFour > ul {
  display: flex;
  flex-direction: row;
}

.iconsFour ul > li {
  margin-right: 10px;
}
