.footer {
  width: 100%;
  border-top: 2px solid $btnColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 76px 122px 93px 122px;
  & nav {
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    & a {
      margin-right: 80px;
    }
    & a:last-child {
      margin-right: 0;
    }
  }
}

.footerNamePerson {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.boxFooterBTN {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
