.portfolioBlock {
  display: flex;
  position: relative;
}

.blockNameThird {
  justify-content: center;
}

.blocks1 {
  margin-top: 336px;
}

.blocks2 {
  margin: 213px 50px 0 50px;
}
.blocks3 {
  margin-top: 105px;
}

h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

span {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.buttonThird {
  margin: 5vh 41 0 85%;
  //width: 460px;
  //height: 106px;
}
